<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chefs Login/Signup</title>
  <link rel="stylesheet" type="text/css" href="Styles/styles.css" />
</head>
<body>

	<section id="navbar"> <!-- Defining the #page section with the section tag -->

	<header> <!-- Defining the header section of the page with the appropriate tag -->

		<h1></h1>

		<h3></h3>

	</header>

    <main class="main">

        <section class="loginandsignup">

<!--             <h2>Login</h2>
                <form action="/login" method="POST">
	                <textarea id = "textarea" name="email" placeholder="Email"></textarea>
	                <textarea id = "textarea" name="password" placeholder="Password"></textarea>
	                <input id="submit" type="submit">
	                <p class="error"></p>
                </form> -->

<!-- original login.ejs -->
            <h2>Login</h2>
								<form action="/login" method="post">
								    <div>
								    <label>Email:</label>
								    <input type="email" name="email"/><br/>
								    </div>
								    <div>
								    <label>Password:</label>
								    <input type="password" name="password"/>
								    </div>
								    <div>
								    <input type="submit" value="Submit"/>
								    </div>
								</form>

        <div class="line"></div>

            <h2>Login</h2>
								<form action="/signup" method="POST">
										<div>
								    <label>First Name:</label>
								    <input type="text" name="firstName"/><br/>
								    </div>
								    <div>
								    <label>Last Name:</label>
								    <input type="text" name="lastName"/><br/>
								    </div>
								    <div>
								    <label>Email:</label>
								    <input type="email" name="email"/><br/>
								    </div>
								    <div>
								    <label>Password:</label>
								    <input type="password" name="password"/><br/>
								    </div>
								    <div>
								    <label>Retype Password:</label>
								    <input type="password" name="passwordConfirmation"/>
								    </div>
								    <div>
								    <label>Address:</label>
								    <input type="text" name="address"/>
								    </div>
								    <div>
								    <label>Phone Number:</label>
								    <input type="text" name="phoneNumber"/>
								    </div>
								    <div>
								    <input type="submit" value="Submit"/>
								    </div>
								</form>

<!--             <h2>Signup</h2>
                <form action="/signup" method="POST">
	                <textarea type = "text" name="firstName" placeholder="First Name"></textarea>
	                <textarea type = "text" name="lastName" placeholder="Last Name"></textarea>
	                <textarea type = "email" name="email" placeholder="Email"></textarea>
	                <textarea type = "password" name="password" placeholder="Password"></textarea>
	                <textarea type = "password" name="passwordConfirmation" placeholder="Password Confirmation"></textarea>
	                <textarea type = "text" name="address" placeholder="Address"></textarea>
	                <textarea type = "text" name="phone" placeholder="Phone #"></textarea>
	                <input type="submit" type="Submit"/>
	                <p class="error"></p>
                </form> -->
        </section>

    </main>

</body>

