<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chefs Login/Signup</title>
  <link rel="stylesheet" type="text/css" href="Styles/styles.css" />
</head>
<body>

	<section id="navbar"> <!-- Defining the #page section with the section tag -->

	<header> <!-- Defining the header section of the page with the appropriate tag -->

		<h1></h1>

		<h3></h3>

	</header>

    <main class="main">

        <section class="loginandsignup">

            <h2>Login</h2>
                <form action="/login" method="POST">
                <textarea id = "textarea" name="email" placeholder="Email"></textarea>
                <textarea id = "textarea" name="password" placeholder="Password"></textarea>
                <input id="submit" type="submit">
                <p class="error"></p>
                </form>

<!-- original login.ejs -->
<!-- <form action="/login" method="post">
    <div>
    <label>Username:</label>
    <input type="text" name="username"/><br/>
    </div>
    <div>
    <label>Password:</label>
    <input type="password" name="password"/>
    </div>
    <div>
    <input type="submit" value="Submit"/>
    </div>
</form> -->

        <div class="line"></div>


            <h2>Signup</h2>
                <form action="/login" method="POST">
                <textarea id = "textarea" name="firstName" placeholder="First Name"></textarea>
                <textarea id = "textarea" name="lastName" placeholder="LastName"></textarea>
                <textarea id = "textarea" name="email" placeholder="Email"></textarea>
                <textarea id = "textarea" name="password" placeholder="Password"></textarea>
                <textarea id = "textarea" name="passwordConfirmation" placeholder="Password Confirmation"></textarea>
                <textarea id = "textarea" name="address" placeholder="Address"></textarea>
                <textarea id = "textarea" name="phone" placeholder="Phone #"></textarea>
                <input id="submit" type="submit">
                <p class="error"></p>
                </form>
        </section>

    </main>

</body>

